body {
  background: lavender;
}
/* navbar */
.navBarOne * {
  margin: 0;
  padding: 0;
}
.navBarOne {
  background: #b3a8f1;
  padding: 20px 0 20px 0;
  display: flex;
}
.navBarOne .logo {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 30px;
}
.navBarOne .searchInput {
  margin-left: auto;
  margin-right: auto;
}
.navBarOne .searchInput input {
  width: 300px;
}
.navBarOne .searchInput img {
  position: relative;
  top: 2.5px;
  right: 19px;
  max-height: 15px;
  transform: scaleX(-1);
  cursor: pointer;
}
.navBarOne ul {
  position: absolute;
  right: 40px;
}
.navBarOne ul li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

/* departamentos */
.departamentosDiv {
  background: rgb(111, 111, 170);
  text-align: center;
  width: 100%;
}
.departamentosDiv ul {
  margin: 0;
  padding: 5px 0 5px 0;
}
.departamentosDiv ul li {
  list-style: none;
  display: inline;
  padding: 0 5px 0 5px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}
.departamentosDiv ul li.borderRight {
  border-right: 1px solid rgb(77, 108, 110);
}
.menuSublinhado {
  position: absolute;
  font-size: 120px;
  margin: 0;
  transition: 0.3s;
  z-index: -1;
}

/* catálogo de itens */
.itensCatalogo {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  display: flex;
}
.itensCatalogo .classificações {
  width: 200px;
  min-width: 180px;
}
.itensCatalogo .classificações ul li {
  list-style: none;
  margin-top: 2px;
  color: rgb(58, 69, 73);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  font-size: 17px;
  border-bottom: 1px solid black;
  -webkit-user-select: none;
  user-select: none;
}

/* everyItem */
.itemToBuy {
  position: relative;
  display: inline-block;
  width: 210px;
  height: 370px;
  background: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.itemToBuy:hover {
  transition: 0.2s;
  transform: scale(1.02);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
}
.itemToBuy .favoriteHeart {
  color: white;
  position: absolute;
  right: 10px;
  max-width: 25px;
  font-size: 40px;
  display: inline-block;
  top: -5px;
  z-index: 2;
  -webkit-text-stroke: 2px black;
}
.itemToBuy .favoriteHeart:hover {
  color: red;
}
.itemToBuy .productImgDiv {
  position: relative;
  top: 30px;
  text-align: center;
  overflow-x: hidden;
}
.itemToBuy .itemImg {
  position: relative;
  max-height: 170px;
}
.itemToBuy .productContent {
  position: absolute;
  text-align: left;
  color: rgb(66, 70, 77);
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  top: 200px;
}
.itemToBuy .prices {
  position: absolute;
  top: 270px;
  padding-left: 5px;
  font-family: sans-serif;
}
.itemToBuy .prices .price {
  color: grey;
  margin-bottom: 0;
  font-family: sans-serif;
}
.itemToBuy .prices .priceComplement {
  margin-top: 0;
  color: grey;
}
.numDeVendas {
  position: absolute;
  bottom: 18px;
  font-size: 10px;
  left: 17px;
}

/* itensDiv */
.ecommerceItensDiv {
  min-width: 250px;
}
.promoHot {
  max-width: 110px;
  position: absolute;
  top: -10px;
  left: -20px;
  z-index: 1;
}
.estoque {
  position: absolute;
  bottom: 30px;
  left: 16px;
  font-size: 11px;
  color: black;
}
.bolinhaMenu {
  position: relative;
  left: 35px;
  transition: 0.3s;
}
/* linksTeste */
.linkLindo {
  color: rgb(58, 69, 73);
  text-decoration: none;
  font-weight: lighter;
}
.linkLindo:hover {
  color: black;
}

/* loogin/register screen */
.loginOrRegister {
  border: 3px dashed rgb(111, 111, 170);
  background: rgb(200, 200, 241);
  width: 300px;
  height: 340px;
  padding: auto;
  margin: auto;
  position: relative;
  top: 60px;
  text-align: center;
}
.logChoose {
  padding-top: 50px;
}
.loginButtons {
  cursor: pointer;
  font-size: 45px;
  display: inline;
  border-bottom: 5px dashed rgb(111, 111, 170);
  padding: 6px;
}
.loginOr {
  margin: 25px 0 0 0;
}
.loginButtonsBack {
  cursor: pointer;
  font-size: 15px;
  display: inline;
  border-bottom: 3px dashed rgb(111, 111, 170);
  padding: 0;
  position: relative;
  top: 90px;
}
.logName {
  position: relative;
  top: -17px;
  display: inline;
  border-bottom: 5px dashed rgb(111, 111, 170);
}
.loginInput {
  margin-bottom: 3px;
}
.loginButtonLogin {
  border-bottom: 3px dashed rgb(111, 111, 170);
  padding: 0;
  display: inline;
  position: relative;
  top: 20px;
  cursor: pointer;
}
.logoffButtonLogin {
  border-bottom: 3px dashed rgb(111, 111, 170);
  padding: 0;
  display: inline;
  position: relative;
  top: -10px;
  cursor: pointer;
}
.regButtonsBack {
  cursor: pointer;
  font-size: 15px;
  display: inline;
  border-bottom: 3px dashed rgb(111, 111, 170);
  padding: 0;
  position: relative;
  top: 63px;
}
.logou {
  margin-top: 110px;
}
/* profile */
.loginScreen {
  text-align: center;
  width: 600px;
  height: 500px;
  border: 3px dashed rgb(111, 111, 170);
  margin: 30px auto 0 auto;
  padding: 15px 70px 0 70px;
  background: rgb(200, 200, 241);
}
.linksDoProfile {
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  position: relative;
  top: 15px;
}
.aboutAcc {
  text-align: left;
  margin: 0 auto 0 25%;
}
.aboutAcc h4 {
  margin: 0;
}
.inputEdit {
  margin: 16px 0 16px 0;
  background: #9a9ad8;
}
/* favoritados */
.favoritados {
  border: 3px dashed rgb(111, 111, 170);
  background: rgb(200, 200, 241);
  width: 1100px;
  min-height: 300px;
  margin: 0 auto 50px auto;
  position: relative;
  top: 30px;
}
.favTitle {
  text-align: center;
}
.favoritados .listaDeItens {
  border: 1px dashed rgb(111, 111, 170);
  background: rgb(171 171 220);
  width: 890px;
  height: 90px;
  margin: 60px auto 30px auto;
}

.listaDeItens .imgBox {
  border: 1px solid black;
  max-height: 70px;
  min-width: 90px;
  max-widtH: 90px;
  margin-left: 7px;
  position: relative;
  margin-top: 7px;
  text-align: center;
  background: rgb(111, 111, 170);
}
.imgBox .img {
  max-width: auto;
  height: 70px;
}
.listaDeItens .item {
  display: flex;
}
.descri .desH5 {
  font-size: 22px;
  margin: 0;
  position: relative;
  top: 7px;
  left: 10px;
}
.descri .price {
  position: relative;
  left: 10px;
  margin: 0;
  top: 6px;
}
.favoritados .ifNotLogged {
  text-align: center;
}
.listaDeItens .favButtons {
  position: relative;
  float: right;
  right: 90px;
  top: 10px;
}
.favExcluir {
  position: relative;
}
.favAddCart {
  position: absolute;
}
.favButComum {
  width: 70px;
  margin: 0 3px 0 3px;
  height: 70px;
  border: 1px solid black;
  background: rgb(111, 111, 170);
}
.favButComum:hover {
  background: rgb(96, 96, 146);
  cursor: pointer;
}
.favAddCart h5 {
  margin-top: 14px;
}
.comprarBut {
  width: 250px;
  height: 70px;
  border: 1px solid black;
  background: rgb(111, 111, 170);
  margin-bottom: 30px;
  cursor: pointer;
}
.precoTotal {
  position: relative;
  display: block;
  float: right;
  text-align: right;
}
.precoTotal h3 {
  font-size: 35px;
  margin: 0;
  font-family: sans-serif;
  margin: 8px 0 8px 0;
}
.quantidade {
  right: 30px;
  float: left;
  position: relative;
  bottom: -50px;
}
.quantidade .disp {
  margin-right: 15px;
}
.quantityBut {
  border: 1px solid black;
  background: rgb(111, 111, 170);
  cursor: pointer;
}
.editButton {
  width: 90px;
  margin: 0 3px 0 3px;
  height: 20px;
  border: 1px solid black;
  background: rgb(111, 111, 170);
  position: relative;
  right: 3px;
}
.editButton:hover {
  background: rgb(96, 96, 146);
  cursor: pointer;
}
.loguePls {
  background: rgb(107, 107, 110);
}
.link .loguePls {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.confirmarCompra {
  width: 200px;
  height: 400px;
  background: rgb(111, 111, 194);
  border: 4px dashed rgb(164, 164, 235);
  position: absolute;
  top: 300px;
  display: inline-block;
  left: 0;
  right: 0;
  margin: auto;
  padding: 50px;
}
.confirmarCompra h4 {
  margin-bottom: 0;
}
.confirmarCompra p {
  margin-top: 0;
  margin-bottom: 0;
}
.confirmarCompra select {
  margin-top: 6px;
}
.confirmarCompra button {
  background: #9a9ad8;
  margin: 0;
  font-size: 12px;
  text-align: left;
}
.confirmarCompra .finalizarCompra {
  position: absolute;
  bottom: 25px;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
}
.confirmarCompra .finalizarCompra:hover {
  cursor: pointer;
}
.confirmarCompra .card {
  margin-top: 0;
}
.confirmarCompra .valorTotal {
  margin-top: 0;
  text-decoration: underline;
}
.totalAPager {
  margin-bottom: -15px;
}
.closeWindow {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
}
.trocarEndereço {
  cursor: pointer;
}
/* meus pedidos */
.favoritados .historicoLista {
  border: 1px dashed rgb(111, 111, 170);
  background: rgb(133, 133, 187);
  margin: 60px 200px 30px 200px;
  padding: 0 40px 25px 40px;
}
.readyItem {
  border: 1px dashed black;
  background: rgb(171 171 220);
  margin: 10px 0 10px 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}
.descri h2 {
  display: inline-block;
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-top: 0;
}
.readyItem h4 {
  display: inline-block;
  position: relative;
  bottom: 18px;
  right: -2px;
  margin: 0;
  font-family: monospace;
}
.segundaInfo {
  left: 18px;
  display: inline;
  font-family: monospace;
}
.precoTotalHist {
  display: contents;
  font-family: monospace;
}
.favoritados .success {
  position: relative;
  top: 70px;
  text-align: center;
}
/* item individual */
.itemIndividual {
  width: 1000px;
  margin: 30px auto 0 auto;
  padding: 17px 30px 17px 30px;
  background: white;
  border-radius: 5px;
  margin-bottom: 30px;
}
.itemIndividual .itemTitle {
  padding: 2px 8px 6px 8px;
  margin-bottom: 15px;
}
.itemIndividual .itemTitle h1 {
  margin: 0 0 0 0;
}
.itemIndividual .imgDiv img {
  width: 540px;
  height: auto;
}
.itemIndividual .imgDiv {
  display: inline;
}
.descDiv {
  border-radius: 4px;
  padding: 0 8px 6px 0px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
.imgDiv .img {
  max-height: 540px;
  overflow: auto;
  display: inline-block;
}
.itemLinkToCar button {
  width: 70px;
  margin: 0 3px 0 3px;
  height: 70px;
  border: 1px solid black;
  background: rgb(111, 111, 170);
}
.descDiv h4 {
  margin: 0;
}
.h4Inline {
  display: inline;
}
.descDiv .dispo {
  margin: 0 0 5px 0;
}
.everyItemLinkToCar button {
  width: 70px;
  margin: 15px 3px 15px 3px;
  height: 70px;
  border: 1px solid black;
  background: rgb(111, 111, 170);
}
.bigFontEveryItem {
  font-size: 40px;
}
.everyCompra {
  display: block;
  margin-left: 200px;
  width: 200px;
  height: 64px;
}
.comprarAgora {
  text-align: right;
  position: relative;
  bottom: 153px;
}
.aboutEveryItem {
  text-align: left;
  width: 370px;
  top: 340px;
  padding: 15px;
  background: #c6c6fb;;
  border-radius: 5px;
}
.aboutEveryItem li {
  list-style-type: none;
}
.socials {
  text-align: center;
  margin: 0 5px 0 5px;
}
.socials a {
  margin: auto 5px auto 5px;
}